//主色
$_mc: #ee671d;//橙色主色

//字体
$fc_main: #ee671d;//主色 || 一级级导航选中效果
$fc_33: #333;//标题色 || 一级导航
$fc_66: #666;//主体文字色 || 三级导航
$fc_99: #999;//置灰字体
$fc_48: #484848;//表格th
$fc_ff: #fff;//二级导航
$fc_e72: #e72d3a;//删除按钮

//背景  按钮置灰做成原色的30%透明度
$bg_main: #ee671d;//主色 || 二级导航选中 || 提交按钮
$bg_ff8: #ff8542;//普通按钮 || 二级导航
$bg_e72: #e72d3a;//警示按钮 || 错误按钮
$bg_ff: #fff;// 一级导航
$bg_f2f: #fcf5f1;//三级导航悬停色 || 表格鼠标悬停色 || 隔行变色(与蓝色系对应色)
$bg_ea: #eaeaea;//表格禁用色
$bg_c9e:#c9e0ff;//页面大标题背景（橙色待定）
$bg_f5f: #f5f7fb;//
$bg_dd: #ddd;// 顶部登陆菜单背景色
$bg_f0: #f0f0f0;//整体页面背景色

//边框
$bd_main: #ee671d;//主色 || 输入框高亮显示
$bd_dee: #dee3e6;//主体边框线 || 分割线 二级导航
$bd_a2d: #a2d1ff;//页面大标题边框 || 当前页面title

