@charset "UTF-8";
/*肤色主调色*/
/*常用字体颜色*/
/*常用公共颜色，背景色和字体颜色统一的*/
/* c1-c4是当前主题色的渐进色 */
/*常用背景色*/
/*deep green*/
/*very deep green*/
/*deep yellow*/
/*deep red*/
/*light green*/
/*light yellow*/
/*light red*/
/*light pink*/
.og-head-top { width: 100%; background: #f2f2f2; }

.og-head-topwrap { width: 1190px; margin: 0 auto; overflow: hidden; }

.og-head-topleft { float: left; overflow: hidden; }

.og-head-topleft__item { float: left; padding: 10px 0; padding-left: 10px; line-height: 12px; }

.og-head-topright { float: right; overflow: hidden; }

.og-head-topright__item { float: left; padding: 10px 0; padding-right: 10px; line-height: 12px; }

.og-head-topright__link { width: 100%; box-sizing: border-box; padding: 0 15px; display: inline-block; border-right: 1px solid #e5e5e5; height: 12px; color: #333; }

.og-head-topright__link-entry { position: relative; display: inline-block; background: #003b90; padding: 0 3px; border: 1px solid #003b90; color: #fff; }

.og-head-topright__link-entry__tranglelt { position: absolute; bottom: 2px; left: -5px; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 4px solid #003b90; }

.og-head-nav { height: 60px; }

.og-head-navwrap { width: 1190px; margin: 0 auto; overflow: hidden; }

.og-head-navlogo { width: 190px; height: 60px; display: block; float: left; }

.og-head-navlogo__logoimg { width: 180px; height: 60px; display: block; background: url(http://localhost:8051/static/purchaser/commonHeader/images/logo.png) no-repeat 0 center #003b90; }

.og-head-navlist { float: left; height: 60px; }

.og-head-navlist__item { float: left; }

.og-head-navlist__link { display: inline-block; padding: 0 15px; line-height: 60px; color: #fff; text-align: center; font-size: 14px; text-decoration: none; }

.og-head-navform { float: right; margin-top: 14px; }

.og-head-navform__input { border: 1px solid #ccc; box-sizing: border-box; height: 30px; float: left; padding-left: 10px; color: #333; }

.og-head-navform__searchbtn { float: left; height: 30px; width: 64px; background-color: #fff; text-align: center; line-height: 30px; }

.og-head-main { width: 1190px; position: relative; margin: 18px auto; }

.og-head-mainlt { width: 190px; height: 750px; float: left; }

.og-head-mainlt .og-heead-miainlt__contwo { margin-top: 2px; }

.og-head-mainlt .og-head-mainlt__homepa { width: 170px; height: 40px; background: #003b90; color: #fff; font-size: 14px; font-weight: bold; line-height: 40px; padding-left: 20px; margin-bottom: 2px; }

.og-head-mainlt .og-head-mainlt__sidebar { height: auto; width: 188px; border: 1px solid #e5e5e5; }

.og-head-mainlt .og-head-mainlt__sidebar .og-head-mainlt__sidebar--menu { width: 100%; overflow: hidden; cursor: pointer; }

.og-head-mainlt .og-head-mainlt__sidebar .og-head-mainlt__sidebar--menu .og-head-mainlt__sidebar--shrink { width: 170px; height: 50px; line-height: 50px; padding-left: 20px; display: block; background: #FEECE5; position: relative; }

.og-head-mainlt .og-head-mainlt__sidebar .og-head-mainlt__sidebar--menu .og-head-mainlt__sidebar--shrink i { position: absolute; right: 20px; top: 20px; }

.og-head-mainlt .og-head-mainlt__sidebar .og-head-mainlt__sidebar--menu .og-head-mainlt__sidebar--shrink h3 { font-weight: bold; color: #000; font-size: 14px; float: left; }

.og-head-mainlt .og-head-mainlt__sidebar .og-head-mainlt__sidebar--menu ul a { display: block; height: 40px; line-height: 40px; margin-left: 20px; color: #666; text-decoration: none; }

.og-head-mainlt .og-head-mainlt__sidebar .og-head-mainlt__sidebar--menu ul .active { border-left: 5px solid #003b90; background: #f7f7f7; }

.og-head-maincontent { width: 990px; position: absolute; right: 0; top: 0px; }
